<div class="col-4 mb-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title"><%= order.phone_imei %></h5>
      <p class="card-text">
        <dl class="mb-0">
          <dt>Model</dt>
          <dd><%= order.phone_model %></dd>

          <dt>Installments</dt>
          <dd class="mb-0">
            <%= order.number_of_installments %>x of
            <%= number_to_currency(
              order.installment_amount,
              unit: 'R$',
              separator: ',',
              delimiter: '.'
            ) %>
          </dd>
        </dl>
    </div>
    <div class="card-footer text-muted">
      <strong><%= order.user_name %></strong><br/>
      <%= order.user_email %><br/>
      CPF: <%= order.user_cpf %>
    </div>
  </div>
</div>
